/* Article */
.article {
  margin-bottom: 10px;
}

.article__image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: var(--background-alt-color);
  user-select: none;
  &:hover {
    &:after {
      transition: .35s ease-in-out; 
      opacity: 1;
      visibility: visible;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    transition: .35s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
}

.article__content {
  padding: 20px 0;
}

.article__meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: initial;
  color: var(--text-alt-color);

  .article-tags__box {
    display: flex;
  }

  .article__tag,
  .article__date {
    flex-grow: 1;
    font-size: 13px;
    line-height: 20px;
    color: var(--text-alt-color);
  }

  .article__tag {
    margin-right: 3px;
    &:hover {
      color: var(--heading-font-color);
    }
    &:after {
      content: ",";
      display: inline-block;
    }
    &:last-child {
      &:after {
        content: "";
        position: relative;
        bottom: 0.3rem;
        display: inline-block;
        height: 1px;
        width: 12px;
        margin: 0 .6rem 0 .6rem;
        background: var(--text-alt-color);
      }
    }
  }
}

.article__title {
  position: relative;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 38px;
  a {
    border-bottom: 1px solid transparent;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover {
      color: var(--heading-font-color);
      border-color: var(--heading-font-color);
    }
  }
  @media only screen and (max-width: $mobile) {
    font-size: 26px;
    line-height: 26px;
  }
}